.loginPage{
    max-width: 500px;
    margin: auto;
    color: #444;
    padding: 0 15px;
}
.loginPage h4{
    margin: 20px 0;
    letter-spacing: 1.5px;
}
.loginPage input{
    width: 100%;
    height: 45px;
    margin: 10px 0;
    border: 2px solid #777;
    outline: none;
    padding: 0 10px;
}
.loginPage .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    align-items: flex-start;
}
.loginPage .row a{
    color: crimson;
}

.loginPage .row button{
    width: 150px;
    padding: 10px 0;
    margin-left: 15px;
    color: white;
    background: black;
    letter-spacing: 1.5px;
}

